@{
    ViewBag.Title = "Home Page";
}


<link href="~/Content/bootstrap-theme.css" rel="stylesheet" />
<header style="background-image: url('../../Content/cover.jpg');" img src="~/Content/cover.jpg">
    <div class="container-fluid">
        <h1>HotelBooking.com</h1>
        <p class="lead">Find Perfect Accomodations at anytime,anywhere</p>
    </div>
</header>



    <div>
        <h2>Book Where You Want to</h2>
        
        <p><a class="btn btn-default" href="https://localhost:44327/Account/Login?ReturnUrl=%2FBookings%2FCreate">Book Now &raquo;</a></p>
    </div>


    <div class="row">
        <div class="col-md-6">
            <h2>Sydney</h2>
            <p>
                Feel the Vive of Australia.
            </p>
            <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
        </div>
        <div class="col-md-6">
            <h2>Gold Coast</h2>
            <p>Most Popular Tourist Spot in Australia.</p>
            <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <h2>Melbourne</h2>
            <p>World's Most Livable City.</p>
            <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Singapore</h2>
            <p>Asian Lion.</p>
            <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Dunedin</h2>
            <p>You Can Enjoy Pacific Sunrise and Weather.</p>
            <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
        </div>
    </div>
